@page "/corp/{Value}"
@rendermode InteractiveServer
@using SRv1;

<h2>Company</h2>
<p> </p> <p> </p>
<h4>Linked Users</h4>
<p>@users</p>


@code {
    [Parameter]
    public string Value { get; set; }

    string users = "";

    int id;

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        id = int.Parse(Value);
        VisionServiceClient client = new VisionServiceClient(VisionServiceClient.EndpointConfiguration.BasicHttpBinding_IVisionService, "http://localhost:5000/VisionService/basichttp");
        users = await LoadUsers(id, client);
        StateHasChanged();
    }


    async Task<string> LoadUsers(int id, VisionServiceClient client)
    {
        var strings = await client.CorpUsersStringAsync(id); string ls = "";
        foreach (var s in strings) { ls += "" + s + "; "; }
        return ls;
    }
}
