@page "/"

<PageTitle>Home</PageTitle>

<h1>The Web Based Visi0n User Interface</h1>


<style>
    .border {
        border-radius: 8px;
        max-width: 100%;
        height: auto;
    }
</style>

<ul class="list-group list-group-flush">
    <li class="list-group-item">view company members & personal details</li>
    <li class="list-group-item">generate new users (personal)</li>
    <!--li class="list-group-item">use the provided tools and other features</li-->
</ul>
<p> </p>
<p>Enjoy this picture for the while</p>
<img src="mpic.jpg" alt="epic picture" width="500" height="333" class="border"/>
