@page
@model WAppV.Pages.LoginModel


<form asp-controller="a" asp-action="RunMethod" method="post">
    <button type="submit" asp-page-handler="RunMethod">Login</button>
    <input type="text" id="T1" name="N1" value="@Model.Username" />
    <input type="text" id="T2" name="N2" value="@Model.Password" />
</form>
<p> </p>
<p>only for personal users</p>




