@page
@model WAppV.Pages.RandomUserApiModel

<h2 class="text-center">Random User Api for user creation</h2>
<p class="text-black text-center">Use it to generate new users (personal) for thr Visi0n project</p>
<p>Or make a new user manually</p>
<body class="text-center">
    <form method="post">
        <button class="text-black" name="action" value="b0">Generate</button>

    <p> </p>
    <p>
        <i> ( First Name,  Last Name,  Username,  Password ) </i>
    </p>
    
    <input type="text" id="l1" name="FN" value="@await Model.GetFName()" />
    <input type="text" id="l2" name="LN" value="@await Model.GetLName()" />
    <input type="text" id="l3" name="US" value="@await Model.GetUName()" />
    <input type="text" id="l4" name="PW" value="@await Model.GetPCode()" />
        <p> </p>
        <p> <i>all users created this way are not linked to any corporation</i></p>
        <p> </p>
        <button type="submit" class="text-black" name="action" value="b1">Register</button>
    </form>
</body>


        
